<form class="form-horizontal">
  <label>Person
    <select ng-model="newBooking['person-id']">
      <option ng-repeat="person in personsMap" id="person.id" value="{{person.id}}">{{person.name}}</option>
    </select>
  </label>
  <label>Project
    <select ng-model="newBooking['project-id']">
      <option ng-repeat="project in projectsMap" id="project.id" value="{{project.id}}">{{project.name}}</option>
    </select>
  </label>
  <label>Description
    <input type="text" required ng-model="description">
  </label>

  <label>day
    <input type="date"  datepicker-popup ng-model="day"/>
  </label>
  <label>from
    <timepicker ng-model="fromTime" show-meridian="false"/>
  </label>
  <label>to
    <timepicker ng-model="toTime" show-meridian="false"/>
  </label>
  <button class="btn btn-primary" ng-click="createBooking()">ok</button>
  <button class="btn btn-default" ng-click="cancel()">cancel</button>
</form>
