# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
continuation_indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.java]
indent_size = 4
continuation_indent_size = 4

[*.groovy]
indent_size = 4
continuation_indent_size = 4

[*.gradle]
indent_size = 4
continuation_indent_size = 4
