<table class="table table-bordered table-hover table-condensed">
  <tr style="font-weight: bold">
    <td style="width:35%">Principal Name</td>
    <td style="width:20%">Roles</td>
    <td style="width:10%"></td>
  </tr>
  <tr ng-repeat="authorization in authorizations">
    <td>
        <span editable-text="authorization.principalName" e-name="principalName" e-form="rowform" e-required>
          {{ authorization.principalName || 'empty' }}
        </span>
    </td>
    <td>
        <span editable-checklist="authorization.roles" e-name="roles" e-form="rowform" e-ng-options="r.value as r.text for r in visibleRoles">
          {{showRoles(authorization)}}
          </span>
    </td>
    <td style="white-space: nowrap">
      <!-- form -->
      <form editable-form name="rowform" onbeforesave="update($data, authorization.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == authorization">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
          save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
          cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
        <button class="btn btn-danger" ng-click="delete($index)">del</button>
      </div>
    </td>
  </tr>
</table>

<button class="btn btn-default" ng-click="add()">Add row</button>

<!--
<ul>
    <li ng-repeat="p in persons" editable-text="p.principalName" onaftersave="update(p)">{{p.principalName}}</li>
</ul>

<form name="theForm" ng-submit="createPerson()">
  <input type="text" ng-model="personToAdd.principalName">
  <input type="text" ng-model="personToAdd.password">
  <button type="submit" class="btn btn-default hidden-devices">add</button>
</form>
-->
