<form class="form-horizontal">
  <div class="form-group">
    <label for="personName" class="col-sm-2 control-label">Display Name</label>

    <div class="col-sm-10">
      <input type="text" class=form-control" id="personName" ng-model="user.person.name" required="true"/>
    </div>
  </div>
  <div class="form-group">
    <label for="principalName" class="col-sm-2 control-label">Principal Name</label>

    <div class="col-sm-10">
      <input type="text" class=form-control" id="principalName" ng-model="user.authorization.principalName" required="true"/>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>

    <div class="col-sm-10">
      <input type="password" class=form-control" id="password" ng-model="newPassword.password" required="true"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" class=form-control" ng-click="toggleRole('MANAGER')"
                 ng-checked="user.authorization.roles.indexOf('MANAGER') !== -1"/> Manager
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" class=form-control" ng-click="toggleRole('ADMINISTRATOR')"
                 ng-checked="user.authorization.roles.indexOf('ADMINISTRATOR') !== -1"/> Administrator
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" ng-show="'app.users.detail'| isState" ng-click="update()">OK</button>
      <button class="btn btn-primary" ng-show="'app.users.create'| isState" ng-click="save()">OK</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-warning" ng-show="'app.users.detail'| isState" ng-click="delete()">Delete</button>
    </div>
  </div>
</form>


