<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: $state.is('app.home') }">
          <a ui-sref="app.home">Home</a>
        </li>
        <li ng-class="{ active: $state.is('app.persons') }">
          <a ui-sref="app.persons">Persons</a>
        </li>
        <li ng-class="{ active: $state.is('app.login') }">
          <a ui-sref="app.login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
