<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: $state.is('app.home') }">
          <a ui-sref="app.home">Home</a>
        </li>
        <li ng-class="{ active: $state.is('app.users') }">
          <a ui-sref="app.users">Users</a>
        </li>
        <li ng-class="{ active: $state.is('app.projects.list') }">
          <a ui-sref="app.projects.list">Projects</a>
        </li>
        <li ng-class="{ active: $state.is('app.bookings.list') }">
          <a ui-sref="app.bookings.list">Bookings</a>
        </li>
        <li ng-class="{ active: $state.is('app.login') }">
          <a ui-sref="app.login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
